extends layout 

block content 
    div(class="container py-4")
        div(class="row")
            div(class="col-12 my-4 container")
                div(class="row justify-content-center")
                    div(class="col-md-6 col-sm-12")
                        form(class="d-flex", action="/post/search", method="GET") 
                            input(class="form-control me-2", type="search", id="searchFieldId", name="searchField", placeholder="Search", aria-label="Search", value=`${searchValue}`)
                            button(class="btn btn-outline-success" type="submit") Search 
            hr
            for post in postList 
                div(class="col-sm-12 col-md-4 mb-2")
                    div(class="card mt-2 mb-2")
                        .card-body 
                            h5.card-title #{post.title}
                            p(class="card-text mb-0") #{post.createdBy.fullname}
                            small.text-muted #{post.createdAt}
                            div(class="text-start mt-4")
                                a(href=`/post/${post._id}`, class="btn btn-primary me-2") View 
                                if isLoggedIn && currentUserId === post.createdBy._id.toString()
                                    a(href=`/post/update/${post._id}`, class="btn btn-warning me-2") Update 
                                    form(action=`/post/delete/${post._id}?_method=DELETE`, method="POST", style="display:inline")
                                        button(type="submit", class="btn btn-danger me-2") Delete